Repository AlexeyMatskevich/url_shortener: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, rspec, fasterer

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    rubocop:
      tags: backend lint
      glob: "{**/bin/*,**/.lefthook/**/*,**/Gemfile,**/*.{rb,erb},!(db/schema.rb)}"
      run: dip bundle_no_tty exec rubocop {staged_files}
    rspec:
      tags: rspec spec backend
      glob: "**/*spec.rb"
      run: dip rspec_no_tty --fail-fast {staged_files}
    fasterer:
      tags: backend lint
      glob: "{**/bin/*,**/.lefthook/**/*,**/Gemfile,**/*.{rb,erb},!(db/schema.rb)}"
      run: dip fasterer {staged_files}
pre-push:
  parallel: true
  commands:
    crystalball:
      tags: rspec spec backend
      run: dip crystalball_no_tty --fail-fast
    gem_audit:
      tags: backend secure
      run: dip bundle_no_tty audit check --update
    database_consistency:
      tags: backend
      run: dip database_consistency_no_tty
    brakeman:
      tags: backend
      run: dip bundle_no_tty exec brakeman
    rubycritic:
      tags: backend lint
      glob: "{**/Gemfile,**/*.{rb,erb,ru}}"
      run: dip rubycritic
post-checkout:
  piped: true
  scripts:
    "01-bundle-checkinstall":
      tags: backend
    "02-db-migrate":
      tags: backend
      runner: docker-compose -f docker-compose-dev.yml run --rm rails
    "03-crystalball-update":
      tags: rspec backend
      runner: docker-compose -f docker-compose-dev.yml run --rm -e RAILS_ENV=test rails

Add link model
  app/models/link.rb
  db/migrate/20210306010857_create_links.rb
  db/schema.rb
  lefthook.yml
  spec/factories/links.rb
  spec/models/link_spec.rb
Due: rubocop, rspec, fasterer

Add faker gem
  Gemfile
  Gemfile.lock
  spec/factories/links.rb
Due: rubocop, fasterer

Apply database_consistency offences
  app/models/link.rb
Due: rubocop, fasterer

Fix missing docker-compose file
  .lefthook/post-checkout/01-bundle-checkinstall
  .lefthook/post-checkout/02-db-migrate
  .lefthook/post-checkout/03-crystalball-update
  lefthook.yml
Due: none

Add create link command
  Gemfile
  Gemfile.lock
  app/interactions/application_interaction.rb
  app/interactions/links/create.rb
  app/models/link.rb
  spec/factories/links.rb
  spec/interactions/links/create_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/factory_bot.rb
Due: rubocop, rspec, fasterer

Add patch for Crystalball
  lib/crystalball/map_generator/factory_bot_strategy/factory_runner_patch.rb
Due: rubocop, fasterer

Apply rubocop offenses
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/support/factory_bot.rb
Due: rubocop, fasterer

Add find command for link
  app/interactions/links/find.rb
  spec/interactions/links/find_spec.rb
Due: rubocop, rspec, fasterer

Fix missing gems in test
  Gemfile
  Gemfile.lock
  spec/support/factory_bot.rb
Due: rubocop, fasterer

Add url resource
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/urls_controller.rb
  app/interactions/links/create.rb
  app/interactions/links/find.rb
  app/serializers/application_serializer.rb
  app/serializers/link_serializer.rb
  config/environments/test.rb
  config/initializers/jsonapi.rb
  config/routes.rb
  doc/openapi.yaml
  spec/models/link_spec.rb
  spec/requests/urls_request_spec.rb
  spec/support/json_api.rb
Due: rubocop, rspec, fasterer

Add readme
  README.md
Due: none

Remove ::
  app/controllers/urls_controller.rb
Due: rubocop, fasterer
